#main {
    overflow-x: auto;
}

#contact {
    font-size: 1.1em;
}

.navbar-nav li {
	font-size: 115%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.oxford {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}

.balls {
    font-family: 'Lobster', cursive;
    font-size: 1.7em;
}

.tablenote {
	margin-top: 0.5em;
}

.contactinfo {
	line-height: 1.6em;
}