#main {
    overflow-x: auto;
}

#contact {
    font-size: 1.1em;
}

.navbar-nav li {
	font-size: 115%;
}

body {
	font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

.oxford {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}

.balls {
    font-family: 'Lobster', cursive;
    font-size: 1.7em;
}

.tablenote {
	margin-top: 0.5em;
    text-align: center;
}

.contactinfo {
	line-height: 1.6em;
}

.Year {
    width: 35%;
}

.Colleges {
    width: 65%;
}

#balls {
    font-size: 100%;
    table-layout: auto;
}

#balls th {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    background-color: #ffffff;
}

#balls th, #balls td {
    text-align: center;
    padding: 8px;
    border-top: 1px solid #ddd 0px;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-top-width: 0;
}

#balls td {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}

#balls th:nth-of-type(1) { }
#balls th:nth-of-type(2) { min-width: 7em; }
#balls th:nth-of-type(3) { }
#balls th:nth-of-type(4) { }
#balls th:nth-of-type(5) { min-width: 8.5em; }
#balls th:nth-of-type(6) { }
    
@media (max-width: 767px) {
    #balls thead tr th:nth-of-type(2) { min-width: 0; }
    #balls th:nth-of-type(4) { min-width: 0; }
}

#balls tr {
    background-color: #ffffff;
}

#balls tr:hover {
    background-color: #eeeeee;
}

#balls .row-sold {
/*    background-color: #cacaca;
    background-color: #d6d0d0; 
    background-color: #e4cdcd; */
    background-color: #fcf3f3; /* hsl(0, 60%, 97%) */
}

#balls .row-sold:hover {
    background-color: #f5d6d6;
}

#balls .row-sale {
    background-color: /*#d6ffd6*/ #f0fff0;
}

#balls .row-sale:hover {
    background-color: #ccffcc;
}

#balls .row-sold td:nth-of-type(6) {
    color: #800000;
    font-weight: bold;
}

.diningtip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.diningtip .diningtiptext {
    visibility: hidden;
    width: 120px;
    background-color: #777;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 130px;
    bottom: 130%;
    left: 50%; 
    margin-left: -65px;
    opacity: 0;
    transition: opacity 0.7s;
}

.diningtip:hover .diningtiptext {
    visibility: visible;
    opacity: 1;
}

.diningtip .diningtiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #777 transparent transparent transparent;
}

.row-sale td:nth-of-type(6) a {
/*    background: #d1ffd1;
  background-image: -webkit-linear-gradient(top, #d1ffd1, #b5ffb5);
  background-image: -moz-linear-gradient(top, #d1ffd1, #b5ffb5);
  background-image: -ms-linear-gradient(top, #d1ffd1, #b5ffb5);
  background-image: -o-linear-gradient(top, #d1ffd1, #b5ffb5);
  background-image: linear-gradient(to bottom, #d1ffd1, #b5ffb5);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
    padding: 3px 6px 4px 6px;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto; */
    color: #008000;
    font-weight: bold;
}

.row-sale td:nth-of-type(6) a:hover {
/*    background: #b3ffb3;
  background-image: -webkit-linear-gradient(top, #b3ffb3, #94ff94);
  background-image: -moz-linear-gradient(top, #b3ffb3, #94ff94);
  background-image: -ms-linear-gradient(top, #b3ffb3, #94ff94);
  background-image: -o-linear-gradient(top, #b3ffb3, #94ff94);
  background-image: linear-gradient(to bottom, #b3ffb3, #94ff94);
    text-decoration: none; */
    text-decoration: underline;
}

.fb-like {
    margin-top: 15px;
}

.sponsors {
    text-align: center;
    margin-top: 30px;
}

.qpay {
    margin: 15px auto 30px;
    padding: 15px 0 0;
    border: solid 3px #ddd;
    border-width: 1px 0px 2px;
    max-width: 420px;
}

.qpay p {
    margin: 0;
}

.qpay img {
    margin-bottom: 5px;
}

.qpay-desc{
    font-size: 12px;
}

.qpay-ref {
    font-size: 13px;
    margin: 16px 0 16px;
}

.charity-plug {
    margin-top: 15px;
}

.charity-plug p {
    text-align:center;
    font-size:13px;
}